
*.foreground:   #444444
*.background:   #eeeeee
*.cursorColor:  #000000

!color 
!Black     ^[[30m
*color0:  #444444
*color8:  #000000
!Red       ^[[31m
*color1:  #FF8EAF
*color9:  #ED4C7A
!Green     ^[[32m   ~~33ffaa
*color2:  #A6E25F
*color10: #A6E179
!Yellow    ^[[33m
*color3:  #996600
*color11: #FF9900
!Blue      ^[[34m
*color4:  #A6E2F0
*color12: #79D2FF
!Magenta   ^[[35m
*color5:  #E85B92
*color13: #BB5D79
!Cyan      ^[[36m
*color6:  #5F868F
*color14: #87A8AF
!White     ^[[37m
*color7:  #eeeeee
*color15: #ffffff

URxvt*intensityStyles: true
URxvt*font:     -misc-fixed-medium-r-normal--13-100-*-100-c-70-iso8859-1
URxvt*boldFont: -misc-fixed-bold-r-normal--13-100-*-100-c-70-iso8859-1
URxvt.cursorBlink: 1
